.front-face{
    width: clamp(230px,460px,460px);
    height: clamp(289px,578px,578px);

    border-radius: 16px;
    background-color: #fff;
    display:flex;
    flex-direction: column;

    align-items: center;

}
.canvas{
    width: clamp(230px, 460px,460px);

    height:clamp(230px, 460px,460px);
    border-radius: 16px 16px 0 0;
    background-color:gray;
    justify-self: flex-start;
}
.romaji{
    height: clamp(59px,118px,118px);
    line-height: clamp(59px,118px,118px);
    font-size: 24px;
    text-align: center;
}